#!/bin/bash
#
# Copyright (C) 2020 by SpEcHIDe@Github, < https://github.com/SpEcHIDe >.
#
# This file is part of < https://github.com/SpEcHIDe/DeleteMessagesRoBot > project,
# Please see < https://github.com/SpEcHIDe/DeleteMessagesRoBot/blob/master/COPYING >
#
# All rights reserved.

# Please read the README to understand each variable values.
# ----------- REQUIRED ----------- #

# Get these two values from my.telegram.org/apps OR Telegram useTGxBot
# APP_ID=9181844
# API_HASH=996a3e7194a4f07576fda5c20bb1138b
# Create a bot using Telegram @BotFather, and get the Telegram API token.
# TG_BOT_TOKEN=5729983559:AAGMK0NReDg1tE-1H2Cce_7xJaE-fpgJR3E
# Create a PyroGram User Session, using https://generatestringsession.spechide.repl.run/
# TG_USER_SESSION=BQCdS5yQGee5m86yT9iDxFpwfhi-bgInpaGv9Yyle8EONvYJJvZ6Of5NWDqGvL-V9__wf0f-ZR1kr3Jlav7zww-x6TIoqiv49dw91Rs_kshovffzu9-zNW9zZTOsfFwTwhASiZ4wOaCDq8aHMlPsqyb5O1seOXZsCJ5gfJ3V7QL6TfVlSTh8DetPlt206wieZb5HF7I8N6ByNfg-2cX3mtNqygBXxRWB4xXYw0O2YBlZVdGYnYaPtr22errZVl4ZYcjTVw8nyTX-ooU4_iK16I3cZohhGfxP7F729ZwZcJsWIJjaTIWJKWwDXkT-VpSRG-tNAHSFQjXwAp0dIxIHoR9hAAAAAVRJn-EA

# ----------- OPTIONAL VARIABLES ----------- #

# TG_BOT_SESSION=
# TG_BOT_WORKERS=
# TG_SLEEP_THRESHOLD=
# LOG_FILE_ZZGEVC=
# TG_MAX_SEL_MESG=
# TG_MIN_SEL_MESG=
# SHTL_USR_HCAT_QO=
# SHTL_BOT_HCAT_QO=

# ----------- CUSTOM STRINGS ----------- #

# START_MESSAGE=
# BEGINNING_DEL_ALL_MESSAGE=
# IN_CORRECT_PERMISSIONS_MESSAGE=
# BEGINNING_SEL_DEL_MESSAGE=
# NOT_USED_DEL_FROM_DEL_TO_MESSAGE=
# THANK_YOU_MESSAGE=

# ----------- CUSTOM COMMANDS ----------- #

# START_COMMAND=
# DEL_ALL_COMMAND=
# SEL_DEL_COMMAND=
# DEL_FROM_COMMAND=
# DEL_TO_COMMAND=
